.setoverflow {
  overflow: hidden;
}

.settopmargin {
  margin-top: 25px
}

.setcenter {
  text-align: center;
}

.setnavcolor {
  background-color: #d1d2d3;
}

.textheading {
  font-family: 'Lato', sans-serif;
  max-width: 100%;
  font-weight: 100;
  color: #2d3c40;
}

.textsubheading {
  color: grey;
  font-weight: 300;
}
